<!-- WRAPPER -->
<div id="wrapper" class="wrapper_page">

	<section id="contact" class="container">


		<div class="row">

			<!-- FORM -->
			<div class="col-md-8" ng-controller="ContactCtrl">

				<h2>Drop us a line or just say <strong><em>Hello!</em></strong></h2>

				<form class="white-row" ng-hide="confirm" ng-submit="send(data)">
					<div class="row">
						<div class="form-group">
							<div class="col-md-6">
								<label>Full Name *</label>
								<input type="text" value=""maxlength="100" class="form-control" ng-model="data.name" required>
							</div>
							<div class="col-md-6">
								<label>E-mail Address *</label>
								<input type="email" value="" maxlength="100" class="form-control" ng-model="data.email" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-12">
								<label>Message *</label>
								<textarea maxlength="5000" rows="10" class="form-control" ng-model="data.message"required></textarea>
							</div>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-md-12">
							<input type="submit" value="Send Message" class="btn btn-primary btn-lg" id="submit" value="Submit" >
						</div>
					</div>
				</form>

                <div ng-show="confirm">
                    <p>Your message has been sent, we will contact you back as soon as possible!</p>
                    <button type="button" class="btn btn-default button-on-right button-contact-form" ng-click="reset()">Back</button>
                </div>

			</div>
			<!-- /FORM -->


			<!-- INFO -->
			<div class="col-md-4">

				<h2>&nbsp;</h2>

				<div class="white-row">

					<p class="nomargin-bottom">
						<!-- <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong><br />
								4, Rue des pères blancs<br />
								1040 Brussels<br />
								Belgium</span><br /> -->
						<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> +32 (0) 2 318 34 51</span><br />
						<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@satprod.net">info@satprod.net</a></span></div>
					</p>

				</div>


			</div>
			<!-- /INFO -->

		</div>

	</section>

</div>
<!-- /WRAPPER -->
