<!-- WRAPPER -->
<div id="wrapper" class="wrapper_home">

    <!-- REVOLUTION SLIDER -->
    <div class="fullwidthbanner-container roundedcorners">
        <div class="fullwidthbanner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                    <!-- MAIN IMAGE -->
                    <img src="./assets/images/slider_index/sliderbg2.jpg"  alt="satprodbg2"  data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption customin"
                        data-x="474"
                        data-y="189"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-endspeed="300"
                        style="z-index: 2"><img src="./assets/images/slider_index/skill1.png" alt="">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin"
                        data-x="245"
                        data-y="92"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="500"
                        data-easing="Power3.easeInOut"
                        data-endspeed="300"
                        style="z-index: 5"><img src="./assets/images/slider_index/skill2.png" alt="">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption customin"
                        data-x="693"
                        data-y="69"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1300"
                        data-easing="Power3.easeInOut"
                        data-endspeed="300"
                        style="z-index: 4"><img src="./assets/images/slider_index/skill3.png" alt="">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption customin"
                        data-x="100"
                        data-y="171"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1400"
                        data-easing="Power3.easeInOut"
                        data-endspeed="300"
                        style="z-index: 4"><img src="./assets/images/slider_index/skill4.png" alt="">
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_orange skewfromleft customout"
                        data-x="104"
                        data-y="154"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="1500"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="on"
                        style="z-index: 6">Programming
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption medium_bg_orange skewfromright customout"
                        data-x="820"
                        data-y="274"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="1700"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="on"
                        style="z-index: 7">Software Deployment
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption medium_bg_orange skewfromright customout"
                        data-x="780"
                        data-y="314"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="1800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="on"
                        style="z-index: 8">And more...
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption medium_bg_orange skewfromleft customout"
                        data-x="168"
                        data-y="193"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="1600"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="on"
                        style="z-index: 9">Electronic Engineering
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption large_bold_white customin customout"
                        data-x="428"
                        data-y="34"
                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="600"
                        data-start="1100"
                        data-easing="Back.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        style="z-index: 10">Skills
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption medium_light_white customin customout"
                        data-x="536"
                        data-y="51"
                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="600"
                        data-start="1200"
                        data-easing="Back.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        style="z-index: 11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;valuable
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" >
                    <!-- MAIN IMAGE -->
                    <img src="./assets/images/slider_index/sliderbg.jpg"  alt="satprodbg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lightgrey_divider skewfromrightshort customout"
                        data-x="85"
                        data-y="224"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1200"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        data-captionhidden="off"
                        style="z-index: 2">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin customout"
                        data-x="right" data-hoffset="-50"
                        data-y="bottom" data-voffset="0"
                        data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="700"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3"><img src="./assets/images/slider_index/desktop_slider.png" alt="Satprod">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption large_bold_grey skewfromrightshort customout"
                        data-x="80"
                        data-y="66"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Back.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        data-captionhidden="off"
                        style="z-index: 4">Qualified
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption large_bold_grey skewfromleftshort customout"
                        data-x="80"
                        data-y="122"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="300"
                        data-start="1100"
                        data-easing="Back.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        data-captionhidden="off"
                        style="z-index: 7">Team
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption small_thin_grey customin customout"
                        data-x="80"
                        data-y="230"
                        data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1300"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        data-captionhidden="off"
                        style="z-index: 8">Put together Satprod's team offers expertise<br />
                                           in fields as disparate as Web Development, <br />
                                           Language Processing or Embedded electronics<br />
                                           which can be used in developing customised <br />
                                           solutions for our clients.
                    </div>

                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->


    <section class="container text-center">
        <p class="lead">Our young team of enthusiast developers as well as our partners
allow us to offer our clients state of the art technologies to any IT
need that might arise. While making sure that any solution developed is
both stable and easily maintainable, we will ensure that only the best
technology makes its way into your final product.</p>
    </section>


    <div class="container">
        <hr class="half-margins" /><!-- hr line -->
    </div>


    <!-- FEATURED BOXES 3 -->
    <section class="container">
        <div class="row">
            <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                <div class="featured-box nobg border-only">
                    <div class="box-content text-center">
                        <i class="fa fa-users"></i>
                        <h4>Affordable</h4>
                        <p>The use of the latest programming languages and development
frameworks allows us to speed up considerably the development process
and thus your final invoice. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                <div class="featured-box nobg border-only left-separator">
                    <i class="fa fa-book text-center"></i>
                    <h4>Well Documented</h4>
                    <p>All solutions we develop are documented in order to help our client
use their solutions to their full potential. In case of deployment we
also offer employee training. </p>
                </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                <div class="featured-box nobg border-only left-separator">
                    <i class="fa fa-trophy text-center"></i>
                    <h4>Easily maintainable</h4>
                    <p>Satprod is extremely transparent as to the technologies
incorporated into our final products. This facilitates product
maintenance either by us or by our client themselves. </p>
                </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                <div class="featured-box nobg border-only left-separator">
                    <i class="fa fa-cogs text-center"></i>
                    <h4>Highly Customizable</h4>
                    <p>All solutions provided by Satprod are developed internally allowing
us and our client enormous freedom as to the technologies used, their
implementation and the final design of the application. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /FEATURED BOXES 3 -->


    <div class="container">
        <hr class="no-lines" /><!-- hr line -->
    </div>


    <!-- CALLOUT -->
    <div class="bs-callout margin-top text-center styleBackground noradius">
        <h3>Interested by our services ?
        <a ng-click="navContact()" href="/contact" class="btn btn-primary btn-lg" aria-label="contact us">Contact us!</a></h3>
    </div>
    <!-- /CALLOUT -->

</div>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript" src="/assets/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/assets/js/slider_revolution.js"></script>
