<!DOCTYPE html lang="en" data-ng-app="app" ng-controller="SEOCtrl">
<!--[if IE 8]>          <html lang="en" class="ie ie8" data-ng-app="app" ng-controller="SEOCtrl"> <![endif]-->
<!--[if IE 9]>          <html lang="en" class="ie ie9" data-ng-app="app" ng-controller="SEOCtrl"> <![endif]-->
<!--[if gt IE 9]><!-->  <html lang="en" data-ng-app="app" ng-controller="SEOCtrl"> <!--<![endif]-->
    <head>
        <base href="/">
        <meta charset="utf-8" />
        <title data-ng-bind="header+' | Satprod'">Satprod</title>

        <!-- SEO -->
        <meta name="keywords" content="{{keywords}}" />
        <meta name="description" content="{{description}}" />
        <meta name="author" content="Louis Borsu">
        <link rel="author" href="https://plus.google.com/+LouisBorsu"/>
        <link rel="publisher" href="https://plus.google.com/+LouisBorsu" />
        <meta property="og:title" content="{{header}} | Satprod"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{url}}"/>
        <meta property="og:image" content="{{image_url}}"/>
        <meta property="og:description" content="{{description}}"/>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@satblip">
        <meta name="twitter:url" content="{{url}}">
        <meta name="twitter:title" content="{{header}} | Satprod">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:image" content="{{image_url}}">

        <meta name="fragment" content="!">

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=2, initial-scale=1" />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/assets/images/logo-favicon.png" />

        <!-- WEB FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />

        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->

        <!-- CORE CSS -->
        <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/animate.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/superslides.css" rel="stylesheet" type="text/css" />

        <!-- REVOLUTION SLIDER -->
        <link href="/assets/plugins/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/layout-responsive.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/color_scheme/yellow.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/layout-dark.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

        <!-- TOP NAV -->
        <header id="topNav">
            <div class="container">

                <!-- Mobile Menu Button -->
                <button class="btn" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Logo text or image -->
                <a ng-click="navHome()" class="logo" href="/">
                    <img id="logo-on-the-top" class="logo-top" src="/assets/images/logo.png" alt="satprod" />
                </a>

                <!-- Top Nav -->
                <div class="navbar-collapse nav-main-collapse collapse pull-right">
                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                            <!-- <li ng-class="{active:header == 'The Company'}">
                                <a ng-click="navCompany()" href="/company">
                                    The company
                                </a>
                            </li>
                            <li ng-class="{active:header == 'References'}">
                                <a ng-click="navReferences()" href="/references">
                                    References
                                </a>
                            </li>
                            <li ng-class="{active:header == 'Engineering'}">
                                <a ng-click="navEngineering()" href="/engineering">
                                    Engineering
                                </a>
                            </li>
                            <li ng-class="{active:header == 'Development'}">
                                <a ng-click="navDevelopment()" href="/development">
                                    Development
                                </a>
                            </li> -->

                            <li ng-class="{active:header == 'Contact'}">
                                <a ng-click="navContact()" href="/contact">
                                    Contact us
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <!-- /Top Nav -->

            </div>
        </header>

        <span id="header_shadow"></span>
        <!-- /TOP NAV -->

        <section class="view view-fade angular-animate" data-ng-view>
        </section>

        <!-- FOOTER -->
        <footer>

            <!-- copyright , scrollTo Top -->
            <div class="footer-bar">
                <div class="container">
                    <span class="copyright">Copyright &copy; Satprod. All Rights Reserved.</span>
                </div>
            </div>
            <!-- copyright , scrollTo Top -->

        </footer>
        <!-- /FOOTER -->

        <!-- JSON-ld -->
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "Satprod",
          "legalName": "Satprod",
          "url": "https://satprod.net",
          "logo": "https://satprod.net/assets/images/logo.png",
          "foundingDate": "2011",
          "founders": [
            {
              "@type": "Person",
              "name": "Louis Borsu",
              "email": "mailto:sat@satprod.net",
              "image": "https://satprod.net/assets/images/team/louis.jpg"
            }
          ],
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Rue au bois, 92",
            "addressLocality": "Brussels",
            "addressRegion": "Brussels",
            "postalCode": "1160",
            "addressCountry": "Belgium"
          },
          "contactPoint": {
            "@type": "ContactPoint",
            "contactType": "sales",
            "telephone": "[+3223183451]",
            "email": "info@satprod.net"
          },
          "sameAs": [
            "https://www.facebook.com/satprod",
            "https://www.linkedin.com/company/satprod/",
            "https://twitter.com/satprodgroup"
          ]
        }
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48574141-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-48574141-1');
        </script>


        <!-- PRE-js -->
        <script type="text/javascript" src="/assets/plugins/modernizr.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/assets/js/top-nav.js"></script>
        <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/plugins/angular/angular.min.js"></script>
        <script src="/assets/plugins/angular/angular-animate.min.js"></script>
        <script src="/assets/plugins/angular/angular-route.min.js"></script>
        <script src="/assets/plugins/angular/angular-sanitize.min.js"></script>
        <script src="/assets/js/angular_scripts/app.js"></script>
        <script src="/assets/js/angular_scripts/controller/ReferencesCtrl.js"></script>
        <script src="/assets/js/angular_scripts/controller/SEOCtrl.js"></script>
        <script src="/assets/js/angular_scripts/controller/ContactCtrl.js"></script>

    </body>
</html>
