<!-- WRAPPER -->
<div id="wrapper" class="wrapper_page">

	<section class="container">

		<!-- WELCOME -->
		<article>
			<p>Satprod acquired throughout the years a catalog of skills in different areas of multimedia technologies.<br />Satprod's concept comes in several sections:<br /><br />
			• Satprod Engineering <br />
			This section provides a freelance supports for other companies projects in IT development / web design and electronic solutions.<br />
			• Satprod Studio<br />
			Satprod has its own recording studio for several years, several resident engineers working on numerous multimedia projects.
			This studio also serves as a laboratory for the technical creative activities of the company.<br />
			• Satprod Events<br />
			Satprod provides technical supports in many events of the Belgian scene.</p>
			<p class="lead">Satprod Group is there to help you maintain your project at an high level of technology without headashes.</p>
		</article>
		<!-- WELCOME -->


		<div class="divider"><!-- divider -->
			<i class="fa fa-star"></i>
		</div>


		<!-- WHO WE ARE and SKILLS -->
		<article class="row">
			<div class="col-md-6">
				<h3>The benefits to work with Satprod</h3>

				<div class="toogle toogle-accordion">

					<div class="toggle active">
						<label>Multi-disciplines team</label>
						<div class="toggle-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
						</div>
					</div>

					<div class="toggle">
						<label>Good references on big projects</label>
						<div class="toggle-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
						</div>
					</div>

					<div class="toggle">
						<label>We take care of your project from A to Z</label>
						<div class="toggle-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-6">
				<h3>Satprod Major Skills</h3>

				<div class="progress-bars">
					<div class="progress-label">
						<span>PHP</span>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" data-appear-progress-animation="96%" >
							<span class="progress-bar-tooltip">96%</span>
						</div>
					</div>
					<div class="progress-label">
						<span>Mysql</span>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="60">
							<span class="progress-bar-tooltip">85%</span>
						</div>
					</div>
					<div class="progress-label">
						<span>HTML/CSS</span>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" data-appear-progress-animation="90%" data-appear-animation-delay="120">
							<span class="progress-bar-tooltip">90%</span>
						</div>
					</div>
					<div class="progress-label">
						<span>Ruby on rails</span>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" data-appear-progress-animation="80%" data-appear-animation-delay="180">
							<span class="progress-bar-tooltip">80%</span>
						</div>
					</div>
					<div class="progress-label">
						<span>Embedded electronic system</span>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" data-appear-progress-animation="90%" data-appear-animation-delay="240">
							<span class="progress-bar-tooltip">90%</span>
						</div>
					</div>
					<div class="progress-label">
						<span>IT Networks</span>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" data-appear-progress-animation="90%" data-appear-animation-delay="300">
							<span class="progress-bar-tooltip">90%</span>
						</div>
					</div>
					<div class="progress-label">
						<span>IPTV Multicasting</span>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" data-appear-progress-animation="80%" data-appear-animation-delay="360">
							<span class="progress-bar-tooltip">80%</span>
						</div>
					</div>
				</div>
			</div>

		</article>
		<!-- /WHO WE ARE and SKILLS -->

		<!-- TEAM -->
		<article class="row">
			<div class="col-md-12">
				<h3>Meet Satprod Team</h3>

				<div class="row">

					<div class="col-sm-6 col-md-3"><!-- item 1 -->
						<div class="item-box fixed-box">
							<figure>
								<img class="img-responsive" src="./assets/images/team/louis.jpg" width="263" height="263" alt="">
							</figure>
							<div class="item-box-desc">
								<h4>Louis Borsu</h4>
								<small class="styleColor">CEO and Co-Owner</small>
								<p></p>
								<div class="row socials">
									<a href="#" class="social fa fa-twitter"></a>
									<a href="#" class="social fa fa-linkedin"></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3"><!-- item 3 -->
						<div class="item-box fixed-box">
							<figure>
								<img class="img-responsive" src="./assets/images/team/gus.jpg" width="263" height="263" alt="">
							</figure>
							<div class="item-box-desc">
								<h4>Augustin Borsu</h4>
								<small class="styleColor">CTO and Co-Owner</small>
								<p></p>
								<div class="row socials">
									<a href="#" class="social fa fa-linkedin"></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3"><!-- item 3 -->
						<div class="item-box fixed-box">
							<figure>
								<img class="img-responsive" src="./assets/images/team/philes.png" width="263" height="263" alt="">
							</figure>
							<div class="item-box-desc">
								<h4>Philes Gilles</h4>
								<small class="styleColor">Developer</small>
								<p></p>
								<div class="row socials">
									<a href="#" class="social fa fa-linkedin"></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3"><!-- item 4 -->
						<div class="item-box fixed-box">
							<figure>
								<img class="img-responsive" src="./assets/images/team/laura.png" width="263" height="263" alt="">
							</figure>
							<div class="item-box-desc">
								<h4>Laura Van Caulaert</h4>
								<small class="styleColor">Marketing Manager</small>
								<p></p>
								<div class="row socials">
									<a href="#" class="social fa fa-linkedin"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</article>
		<!-- /TEAM -->


	</section>


</div>
<!-- /WRAPPER -->

<!-- CALLOUT -->
<div class="bs-callout margin-top text-center styleBackground noradius">
    <h3>Interested by our services ?
    <a ng-click="navContact()" href="/contact" class="btn btn-primary btn-lg">Contact us!</a></h3>
</div>
<!-- /CALLOUT -->


<script type="text/javascript" src="/assets/js/company.js"></script>
