<!-- WRAPPER -->
<div id="wrapper" class="wrapper_page">

	<section class="container">

		<h2><strong>Engineering</strong> Services</h2>

		<p class="lead">Our engineering section helps you select the hardware that you need and
configures it. This can be done either purely as a standalone
installation or in conjunction with a development contract. In the
latter case, we will help you develop a software solution as well as
selecting with you the best hardware to power it.</p>


		<div class="divider"><!-- divider -->
			<i class="fa fa-star"></i>
		</div>


		<!-- BORN TO BE A WINNER -->
		<article class="row">
			<div class="col-md-6">
				<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
					<div>
						<img class="img-responsive" src="./assets/images/references/remote_lab.jpg" width="555" height="311" alt="">
					</div>
					<div>
						<img class="img-responsive" src="./assets/images/references/remote_lab.jpg" width="555" height="311" alt="">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3>Satprod : Merge Several Areas of Expertise</h3>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
			</div>
		</article>
		<!-- /BORN TO BE A WINNER -->

		<hr />

		<!-- FEATURED BOXES 3 -->
		<div class="row">
			<div class="col-md-3">
				<div class="featured-box nobg border-only">
					<div class="box-content">
						<i class="fa fa-user"></i>
						<h4>Loved by Customers</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="featured-box nobg border-only">
					<i class="fa fa-book"></i>
					<h4>Well Documented</h4>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="featured-box nobg border-only">
					<i class="fa fa-trophy"></i>
					<h4>Winner</h4>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="featured-box nobg border-only">
					<i class="fa fa-cogs"></i>
					<h4>Customizable</h4>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
				</div>
			</div>
		</div>
		<!-- /FEATURED BOXES 3 -->

		<hr />

		<h2>What types of IT services Satprod can offer?</h2>

		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>

		<div class="tabs">

			<!-- tabs -->
			<ul class="nav nav-tabs">
				<li class="head-tab active" data-tab="1"><a href="#engineering#service-1" data-toggle="tab"><i class="fa fa-cogs"></i> Network solutions</a></li>
				<li class="head-tab" data-tab="2"><a href="#engineering"><i class="fa fa-phone"></i> Voice over IP</a></li>
				<li class="head-tab" data-tab="3"><a href="#engineering"><i class="fa fa-cloud-upload"></i> Backup solutions</a></li>
				<li class="head-tab" data-tab="4"><a href="#engineering"><i class="fa fa-film"></i> IT asset management</a></li>
				<li class="head-tab" data-tab="5"><a href="#engineering"><i class="fa fa-desktop"></i>Embedded electronics</a></li>
			</ul>

			<!-- tabs content -->
			<div class="tab-content">
				<div class="tab-pane active" id="service-1">
					<i class="featured-icon pull-left fa fa-cogs"><!-- service icon --></i>
					<p><br />Network Installation/Configuration <br />
Satprod provides expertise in both WAN and LAN network
management and will help you configure your company's network and
optimize it for speed and security. <br /><br />Our services include VPN
configuration for multiple sites. </p>
				</div>

				<div class="tab-pane" id="service-2">
					<i class="featured-icon pull-left fa fa-phone"><!-- service icon --></i>
					<p>Satprod can also help you make full use of your network, by
helping you install Voice over IP and/or Television over IP solutions
enabling you to greatly cut costs. </p>
				</div>

				<div class="tab-pane" id="service-3">
					<i class="featured-icon pull-left fa fa-cloud-upload"><!-- service icon --></i>
					<p>Finally, in conjunction with our developer's section, we can
help you to make full use of the cloud both for file or website hosting
as well as computing. </p>
				</div>

				<div class="tab-pane" id="service-4">
					<i class="featured-icon pull-left fa fa-film"><!-- service icon --></i>
					<p>A growing company will quickly be confronted to device
fragmentation. Satprod can help you find easy ways to deal with updating
and maintaining numerous devices by creating automatic maintenance
routines and setting up local update servers. </p>
				</div>

				<div class="tab-pane" id="service-5">
					<i class="featured-icon pull-left fa fa-desktop"><!-- service icon --></i>
					<p>The internet of things is becoming a reality and Satprod can help
you make the best of it. Using both third party devices and our own
solutions, we will help you select devices adapted to your needs and use
them at their full capacity.</p>
				</div>

			</div>

		</div>


		<!-- CALLOUT -->
		<div class="bs-callout text-center nomargin-bottom">
			<h3>Do you like what you see? <a ng-click="navContact()" href="/contact" class="btn btn-primary btn-lg">Yes, let's work together!</a></h3>
		</div>
		<!-- /CALLOUT -->

	</section>
</div>
<!-- /WRAPPER -->
<script type="text/javascript" src="/assets/js/pageLayout.js"></script>

