<!-- WRAPPER -->
<div id="wrapper" class="wrapper_page" ng-controller="ReferencesCtrl">

	<section id="portfolio" class="container">

		<h2 ng-bind-html="references.main_title"></h2>

		<p class="lead" ng-bind-html="references.main_text"></p>

		<ul class="nav nav-pills isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
					<li data-option-value="*" class="active"><a href="#">Show All</a></li>
					<li data-option-value=".engineering"><a href="#">Engineering</a></li>
					<li data-option-value=".development"><a href="#">Development</a></li>
				</ul>


				<div class="row">

					<ul class="sort-destination isotope" data-sort-id="isotope-list">
						<span ng-repeat="one_reference in references.references_items">
							<li class="isotope-item col-sm-6 col-md-4 {{ one_reference.type }}"><!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="/references/{{ one_reference.slug }}">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>PROJECT</strong> DETAIL
											</span>
										</a>
										<img class="img-responsive" src="/assets/images/references/{{ one_reference.picture }}" width="260" height="260" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>{{ one_reference.title }}</h4>
										<small class="styleColor">{{ one_reference.date }}</small>
									</div>
								</div>
							</li>
						</span>
					</ul>

				</div><!-- /.masonry-container -->

		<!-- CALLOUT -->
		<div class="bs-callout text-center nomargin-bottom">
			<h3>Do you like what you see? <a ng-click="navContact()" href="/contact" class="btn btn-primary btn-lg">Yes, let's work together!</a></h3>
		</div>
		<!-- /CALLOUT -->


	</section>
</div>

<!-- /WRAPPER -->

<script type="text/javascript" src="/assets/js/references.js"></script>
