
		<!-- WRAPPER -->
		<div id="wrapper" class="wrapper_page">

			<section class="container">

				<!-- TEAM -->
				<article class="row">
					<div class="col-md-12">
						<h3>Meet Satprod Team</h3>

						<div class="row">

							<div class="col-sm-6 col-md-3"><!-- item 1 -->
								<div class="item-box fixed-box">
									<figure>
										<img class="img-responsive" src="./assets/images/team/louis.jpg" width="263" height="263" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>Louis Borsu</h4>
										<small class="styleColor">CEO and Co-Owner</small>
										<p></p>
										<div class="row socials">
											<a href="#" class="social fa fa-twitter"></a>
											<a href="#" class="social fa fa-linkedin"></a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-3"><!-- item 3 -->
								<div class="item-box fixed-box">
									<figure>
										<img class="img-responsive" src="./assets/images/team/gus.jpg" width="263" height="263" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>Augustin Borsu</h4>
										<small class="styleColor">CTO and Co-Owner</small>
										<p></p>
										<div class="row socials">
											<a href="#" class="social fa fa-linkedin"></a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-3"><!-- item 3 -->
								<div class="item-box fixed-box">
									<figure>
										<img class="img-responsive" src="./assets/images/team/philes.png" width="263" height="263" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>Philes Gilles</h4>
										<small class="styleColor">Developer</small>
										<p></p>
										<div class="row socials">
											<a href="#" class="social fa fa-linkedin"></a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-3"><!-- item 4 -->
								<div class="item-box fixed-box">
									<figure>
										<img class="img-responsive" src="./assets/images/team/laura.png" width="263" height="263" alt="">
									</figure>
									<div class="item-box-desc">
										<h4>Laura Van Caulaert</h4>
										<small class="styleColor">Marketing Manager</small>
										<p></p>
										<div class="row socials">
											<a href="#" class="social fa fa-linkedin"></a>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</article>
				<!-- /TEAM -->
				<br />
				<br />

			</section>

		</div>
		<!-- /WRAPPER -->

